*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
/*for desktop*/

.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

/* navbar desing start*/
.nav-logo{
	text-align:left;
}

.nav-heading h1{
	text-align:right;
}

.nav-menu{
	flex-direction:row;
	justify-content:flex-end;
	margin:20px 0px;
}

.nav-menu a{
	padding:5px 10px;
	background-color:transparent;
}
/* navbar desing end*/

/*profile design start*/
.profile .top-icon{
	right:100px;
	width:80px;
	transition:width 2s transform 2s;
}
.profile .top-icon:hover{
	width:120px;	
}

.profile-desc p{
	text-align:center;
	color:gray;
	margin:0 auto;
	width:50%;
}

.profile .bottom-icon{
	left:140px;
	width:80px;
	bottom:30px;
	transition:width 2s transform 2s;
}
.profile .bottom-icon:hover{
	width:120px;	
}
/*profile design end*/

/*About Me start*/
.about-me-img{
	margin-top:70px;
}
.about-me-img img{
	width:250px;
	height:270px;
}
.about-me-desc p{
	text-align:left;
}
/*About Me end*/



